@import url('https://fonts.googleapis.com/css?family=Montserrat');
$height: 100vh;
$width: 100vw;
body {
    font-family: "Montserrat", sans-serif !important;
    overflow-x: hidden;
}


/* SECTION 1 */

#first-section {
    height: $height;
    width: $width;
    background: url("../asset/background1.png") no-repeat center;
    background-size: cover;
    header {
        border-bottom: 2px solid #3f3f3f;
        margin: 0;
        img {
            box-shadow: 10px 10px 0px white;
        }
    }
    &>div {
        color: #fff;
        text-align: center;
        h1 {
            text-transform: uppercase;
            font-size: 10em;
            padding-top: 20%;
        }
        h2 {
            text-transform: uppercase;
            letter-spacing: .5em;
            font-size: 2em;
            color: #11749e;
        }
        div {
            padding-top: 2%;
            .icon {
                padding: 2%;
                border: 1px solid;
                border-radius: 50%;
            }
        }
    }
}

nav {
    height: 100%;
    ul {
        height: 100%;
        li {
            list-style: none;
            i {
                color: #fff;
            }
            a {
                text-decoration: none;
                color: #fff;
                font-weight: 500;
                &:hover {
                    text-decoration: none;
                    color: #fff;
                    height: 100%;
                    padding-bottom: 28%;
                    border-bottom: 2px solid #2a9fff;
                }
            }
        }
    }
}

.marge {
    padding-left: 14%;
    padding-right: 14%;
}


/* FIN SECTION 1 */


/* SECTION 2 */

#second-section {
    width: $width;
    height: $height;
    background: url("../asset/background2.png") no-repeat center;
    background-size: cover;
    .haut-second {
        h3 {
            text-transform: uppercase;
            color: #fff;
            font-size: 2em;
            font-weight: 800;
            margin-top: 6.5em;
        }
    }
    .bas-second {
        margin-top: 10%;
        div {
            text-align: center;
            padding-top: 2%;
            color: #fff;
            .icon {
                margin: 1em;
                padding: 15% 2em;
                border-radius: 50%;
                font-size: x-large;
                background: #2e85aa;
            }
            h4 {
                text-transform: uppercase;
                font-weight: 800;
                margin-bottom: 1em;
            }
        }
    }
}


/* FIN SECTION 2 */


/* SECTION 3 */

#third-section {
    width: $width;
    height: $height;
    .top-left {
        padding: 5% 5% 0 8%;
        background: #222;
        color: #fff;
        h3 {
            text-transform: uppercase;
            font-weight: bolder;
            margin-bottom: 1em;
        }
    }
    .top-right {
        height: 50vh;
        width: 50vw;
        background: url("../asset/image1.png") no-repeat;
        background-size: cover;
    }
    .bottom-left {
        height: 50vh;
        width: 50vw;
        background: url("../asset/image2.png") no-repeat;
        background-size: cover;
    }
    .bottom-right {
        background: #f3f3f3;
        color: #222;
        padding: 5% 8% 0 5%;
        h3 {
            text-transform: uppercase;
            font-weight: bolder;
            margin-bottom: 1em;
        }
    }
}


/* FIN SECTION 3 */


/* SECTION 4 */

#four-section {
    width: $width;
    height: $height;
    background: url("../asset/background3.png") no-repeat;
    background-size: cover;
    margin-bottom: 5%;
    .haut-second {
        color: #333333;
        margin-top: 13.3%;
        margin-bottom: 1em;
        h3 {
            color: #333333;
            text-transform: uppercase;
            font-size: 2em;
            font-weight: 800;
            margin-bottom: 15%;
        }
    }
    .bas-second {
        margin: 2% auto;
        color: #333333;
        div {
            text-align: center;
            h4 {
                font-size: 1.2em;
                margin: 1em auto;
                text-transform: uppercase;
                font-weight: 700;
                color: #3f8fb1;
            }
        }
    }
}


/* FIN SECTION 4 */


/* SECTION 5 */

#five-section {
    width: $width;
    height: $height/2;
    background: #11749e;
    &>div {
        color: #fff;
        height: 100%;
    }
    &>div>div>div>div>i {
        font-size: 5em;
    }
}


/* FIN SECTION 5 */


/* SECTION 6 */

#six-section {
    width: $width;
    height: $height;
    background: url("../asset/background4.png") no-repeat;
    background-size: cover;
    &>div {
        height: 100%;
    }
}


/* FIN SECTION 6 */