@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900");
body {
  font-family: "Montserrat" !important;
  overflow-x: hidden;
}

a:visited,
a:focus,
a:hover {
  text-decoration: none;
  color: #fff !important;
}

/* SECTION 1 */
#first-section {
  height: 100vh;
  width: 100vw;
  background: url("../asset/background1.png") no-repeat center;
  background-size: cover;
}

#first-section header {
  border-bottom: 2px solid #3f3f3f;
  margin: 0;
}

#first-section header > div > img {
  width: 75%;
  margin-top: 20%;
  margin-bottom: 25%;
  -webkit-box-shadow: 10px 10px 0px white;
          box-shadow: 10px 10px 0px white;
}

#first-section > div {
  color: #fff;
  text-align: center;
}

#first-section > div h1 {
  text-transform: uppercase;
  font-size: 10em;
  padding-top: 15%;
  font-weight: 700;
}

#first-section > div h2 {
  text-transform: uppercase;
  letter-spacing: .5em;
  font-size: 2em;
  color: #11749e;
}

#first-section > div div {
  margin-top: 15%;
}

#first-section > div div .icon {
  padding: 2%;
  border: 1px solid;
  border-radius: 50%;
}

/******** ANIMATION *********/
/*** 1 ***/
.scrollanimate {
  -webkit-animation: scroll 1500ms infinite linear;
          animation: scroll 1500ms infinite linear;
}

@-webkit-keyframes scroll {
  from {
    top: 0;
    bottom: 0;
  }
  to {
    top: 1em;
    bottom: 1em;
  }
}

@keyframes scroll {
  from {
    top: 0;
    bottom: 0;
  }
  to {
    top: 1em;
    bottom: 1em;
  }
}

@-webkit-keyframes BoxShadowHide {
  from {
    -webkit-box-shadow: white 10px 10px 0;
            box-shadow: white 10px 10px 0;
  }
  50% {
    -webkit-box-shadow: white 0px 10px 0;
            box-shadow: white 0px 10px 0;
  }
  100% {
    -webkit-box-shadow: white 0px 0px 0;
            box-shadow: white 0px 0px 0;
  }
}

@keyframes BoxShadowHide {
  from {
    -webkit-box-shadow: white 10px 10px 0;
            box-shadow: white 10px 10px 0;
  }
  50% {
    -webkit-box-shadow: white 0px 10px 0;
            box-shadow: white 0px 10px 0;
  }
  100% {
    -webkit-box-shadow: white 0px 0px 0;
            box-shadow: white 0px 0px 0;
  }
}

@-webkit-keyframes BoxShadowShow {
  from {
    -webkit-box-shadow: white 0px 0px 0;
            box-shadow: white 0px 0px 0;
  }
  to {
    -webkit-box-shadow: white 10px 10px 0;
            box-shadow: white 10px 10px 0;
  }
}

@keyframes BoxShadowShow {
  from {
    -webkit-box-shadow: white 0px 0px 0;
            box-shadow: white 0px 0px 0;
  }
  to {
    -webkit-box-shadow: white 10px 10px 0;
            box-shadow: white 10px 10px 0;
  }
}

.hideBox {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: BoxShadowHide;
          animation-name: BoxShadowHide;
}

.showBox {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: BoxShadowShow;
          animation-name: BoxShadowShow;
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@-webkit-keyframes animeZoomIn {
  from {
    background-size: 100%;
  }
  to {
    background-size: 125% 125%;
  }
}

@keyframes animeZoomIn {
  from {
    background-size: 100%;
  }
  to {
    background-size: 125% 125%;
  }
}

@-webkit-keyframes animeZoomOut {
  from {
    background-size: 125% 125%;
  }
  to {
    background-size: 100%;
  }
}

@keyframes animeZoomOut {
  from {
    background-size: 125% 125%;
  }
  to {
    background-size: 100%;
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

/*** FIN 1 ***/
/*** 2 ***/
.zoom {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: animeZoomIn;
          animation-name: animeZoomIn;
}

.zoomPas {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: animeZoomOut;
          animation-name: animeZoomOut;
}

/*** FIN 2 ***/
/***** FIN ANIMATIONS ******/
nav {
  height: 100%;
}

nav ul {
  height: 100%;
}

nav ul li {
  list-style: none;
}

nav ul li i {
  color: #fff;
}

nav ul li a {
  color: #fff;
  font-weight: 500;
}

nav ul li a:hover {
  text-decoration: none;
  color: #fff;
  height: 100%;
  padding-bottom: 42%;
  border-bottom: 2px solid #2a9fff;
}

.marge {
  padding-left: 14%;
  padding-right: 14%;
}

/* FIN SECTION 1 */
/* SECTION 2 */
#second-section {
  width: 100vw;
  height: 100vh;
  background: url("../asset/background2.png") no-repeat center;
  background-size: cover;
}

#second-section .haut-second h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 2em;
  font-weight: 600;
  margin-top: 6.5em;
}

#second-section .bas-second {
  margin-top: 10%;
}

#second-section .bas-second div {
  text-align: center;
  padding-top: 2%;
  color: #fff;
}

#second-section .bas-second div .icon {
  margin: 1em;
  padding: 15% 2em;
  border-radius: 50%;
  font-size: x-large;
  background: #2e85aa;
}

#second-section .bas-second div h4 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1em;
}

/* FIN SECTION 2 */
/* SECTION 3 */
#third-section {
  width: 100vw;
  height: 100vh;
}

#third-section .top-left {
  padding: 5% 5% 0 8%;
  background: #222;
  color: #fff;
}

#third-section .top-left h3 {
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 1em;
}

#third-section .top-right {
  height: 50vh;
  width: 50vw;
  background: url("../asset/image1.png") no-repeat;
  background-size: cover;
}

#third-section .bottom-left {
  height: 50vh;
  width: 50vw;
  background: url("../asset/image2.png") no-repeat;
  background-size: cover;
}

#third-section .bottom-right {
  background: #f3f3f3;
  color: #222;
  padding: 5% 8% 0 5%;
}

#third-section .bottom-right h3 {
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 1em;
}

/* FIN SECTION 3 */
/* SECTION 4 */
#four-section {
  width: 100vw;
  height: 100vh;
  background: url("../asset/background3.png") no-repeat;
  background-size: cover;
  margin-bottom: 5%;
}

#four-section .haut-second {
  color: #333333;
  margin-top: 13.3%;
  margin-bottom: 1em;
}

#four-section .haut-second h3 {
  color: #333333;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 15%;
}

#four-section .bas-second {
  margin: 2% auto;
  color: #333333;
}

#four-section .bas-second div {
  text-align: center;
}

#four-section .bas-second div h4 {
  font-size: 1.2em;
  margin: 1em auto;
  text-transform: uppercase;
  font-weight: 700;
  color: #3f8fb1;
}

/* FIN SECTION 4 */
/* SECTION 5 */
#five-section {
  width: 100vw;
  height: 50vh;
  background: #11749e;
}

#five-section > div {
  color: #fff;
  height: 100%;
}

#five-section > div > div > div > div > i {
  font-size: 5em;
}

/* FIN SECTION 5 */
/* SECTION 6 */
#six-section {
  width: 100vw;
  height: 100vh;
  background: url("../asset/background4.png") no-repeat;
  background-size: cover;
}

#six-section > div {
  height: 100%;
}

#six-section > div > div {
  color: #fff;
}

#six-section > div > div h3 {
  text-transform: uppercase;
}

#six-section > div > div .first-paragraphe {
  margin-top: 2em;
  margin-bottom: 5em;
}

#six-section > div > div p.tips {
  margin: 1em 0;
  font-weight: 400;
  background: #11749e;
  padding: .5em 1em;
  border-radius: 5px;
}

.tone {
  width: 75%;
}

.ttwo {
  width: 85%;
}

/* FIN SECTION 6 */
/* SECTION 7 */
#seven-section {
  width: 100vw;
  height: 100vh;
  background: url("../asset/background5.png") no-repeat;
  background-size: cover;
}

#seven-section .haut-second {
  color: #333333;
  margin-bottom: 1em;
}

#seven-section .haut-second h3 {
  color: #333333;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 16%;
  margin-top: 17%;
}

#seven-section .bas-second {
  margin: 2% auto;
  color: #333333;
}

#seven-section .bas-second div {
  text-align: center;
}

#seven-section .bas-second div .wrap {
  background: #fff;
  margin: -3em 1.5em 0px 1.5em;
  padding: 1% 0;
  position: relative;
  z-index: 100;
}

#seven-section .bas-second div .wrap h4 {
  font-size: 1.2em;
  margin: 1em 0 .3em 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #3f8fb1;
}

#seven-section .bas-second div .wrap span {
  font-weight: 600;
}

/* FIN SECTION 7 */
/* SECTION 8 */
#eight-section {
  width: 100vw;
  height: 100vh;
  background: url("../asset/background6.png") no-repeat center center;
  background-size: cover;
}

#eight-section > div {
  color: #fff;
}

#eight-section > div .haut-second h3 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 15%;
  margin-top: 25%;
}

#eight-section > div .bas-second > div > div > input {
  line-height: 2em;
}

#eight-section > div .bas-second input[type=text],
#eight-section > div .bas-second input[type=email],
#eight-section > div .bas-second input[type=tel],
#eight-section > div .bas-second textarea {
  background: transparent;
  margin-top: 2.5em;
  border: 1px solid #fafafa;
}

#eight-section > div .bas-second input[type=text]::-webkit-input-placeholder,
#eight-section > div .bas-second input[type=email]::-webkit-input-placeholder,
#eight-section > div .bas-second input[type=tel]::-webkit-input-placeholder,
#eight-section > div .bas-second textarea::-webkit-input-placeholder {
  color: #fafafa;
}

#eight-section > div .bas-second input[type=text]:-ms-input-placeholder,
#eight-section > div .bas-second input[type=email]:-ms-input-placeholder,
#eight-section > div .bas-second input[type=tel]:-ms-input-placeholder,
#eight-section > div .bas-second textarea:-ms-input-placeholder {
  color: #fafafa;
}

#eight-section > div .bas-second input[type=text]::-ms-input-placeholder,
#eight-section > div .bas-second input[type=email]::-ms-input-placeholder,
#eight-section > div .bas-second input[type=tel]::-ms-input-placeholder,
#eight-section > div .bas-second textarea::-ms-input-placeholder {
  color: #fafafa;
}

#eight-section > div .bas-second input[type=text]::placeholder,
#eight-section > div .bas-second input[type=email]::placeholder,
#eight-section > div .bas-second input[type=tel]::placeholder,
#eight-section > div .bas-second textarea::placeholder {
  color: #fafafa;
}

#eight-section > div .bas-second > div:last-child {
  margin-top: 2em;
}

#eight-section > div .bas-second > div:last-child input[type=submit] {
  background: #11749e;
  padding: .6% 5%;
  color: #fafafa;
  font-weight: 500;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
}

/* FIN SECTION 8 */
/*  SECTION 9 */
#nine-section {
  width: 100vw;
  height: 50vh;
}

#nine-section iframe {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* FIN SECTION 9 */
/* FOOTER */
.footer {
  background: #222;
  color: #fff;
  height: 10vh;
  width: 100vw;
}

.footer > div {
  height: 100%;
}

.footer > div p {
  margin: 0;
}

/* FIN FOOTER */
/*# sourceMappingURL=style.css.map */